* {
    box-sizing: border-box;
}

body{
    background-color: lightskyblue !important;
}

.header {
    text-align: center;
}

.UIengine {
    margin-top: 160px !important;
}

.tag {
    background-color: lightsalmon;
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 0 5px 10px 0;
    font-size: 14px;
    display: inline-block;
}

.tag.highlight {
    background-color: #273c7f;
}

.logoImg {
    width: 20px;
}

.advert {
    text-align: center;
    margin-left: 103px;
    margin-right: 103px;
    margin-top: 10px;
    background-position: center;
}

.advert-hide {
    visibility: hidden;

}


.advert-text {
    color: darkblue;
    font-variant: small-caps;
    font-size: 25px;
    font-weight: bolder;
    line-height: 2;
}